body {
    /* background-color: rgb(57, 173, 22); */
    background-image: url("../images/skyscraper.png");
}

header {
    background-color: #ffffff;
    border-bottom: 2px inset #cccccc;
    width: 100%;
    line-height: 100px;
 }
 
 footer {
    background-color: #666666;
    width: 100%;
    /* line-height: 100px; */
 }

 .container {
     width: 960px;
     align-self: center;
     align-items: center;
     background-color: #ffffff;
     border-width: 4px;
     margin: 0 auto;
 }
 
 .main {
     width: 650px;
     float: left;
     padding: 0cm .2cm 0cm .2cm;
     background-color: #ffffff;
     border-width: 4px;
 }

 .sidebar {
     width: 270px;
     float: right;
     padding: 0cm .2cm 0cm .2cm;
     background-color: #ffffff;
 }

 hr {
    color: #cccccc;
 }
 
 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
 }
 
 h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    text-align: center;
 }
 
 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
 }

 .name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 250px;
    float: left;
    height:100px;
    line-height: 100%;
 }

 .nav { 
    width: 270px;
    height: 100px;
    float: right;
    border-width: 4px;
 }

 input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #367c79;
}

input[type=text] {
    width: 100%;
    padding: 14px 0px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
}

.message {
    height: 150px;
}
